/* В CSS свойство position может принимать пять значений:
relative (относительное)
absolute (абсолютное)
inherit (наследование)
fixed (фиксированное)
static (по умолчанию) */

/* Абсолютное позиционирование ( position: absolute;)
Данный тип позиционирования удаляет элемент в общем потоке документа. Окружающие элементы игнорируют
его, будто ему присвоено свойство display: none;
Элемент позиционируется относительно самого близкого родительского элемента.
В случае если ближайший элемент не существует, позиционирование происходит относительно основного 
документа. */

/* Относительное позиционирование ( position: relative;)
Элементы с относительным позиционированием располагаются относительно собственной позиции 
(сдвиг на основе своего стандартного месторасположения).Относительно позиционированные элементы 
берутся из нормального потока, однако оказывают влияние на расположение элементов по соседству, 
которые ведут себя так, будто в потоке документа тот элемент  всё ещё существует.
Для того чтобы позиционирование дочернего элемента выполнялось относительно родительского,
для первого необходимо указать свойство position: absolute, а для второго — position: relative: */

/* Фиксированное позиционирование ( position: fixed)
Фиксировано позиционированный элемент всегда игнорирует родительские элементы и располагается 
относительно окна браузера.При пролистывании страницы элемент не смещается (зафиксирован).
Зачастую фиксированное позиционирование применяется для создания вкладок, меню, заголовков и любых 
прочих элементов, которые должны быть постоянно видны пользователю сайта. */

/* Z-Index
Веб-страницы являются двухмерными элементами, имея значения ширины(ось Х) и высоты (ось Y), 
а свойство z-index (ось Z) добавляет странице глубину. Чем больше значение z-index, 
тем «выше» располагается элемент на странице, и наоборот, элемент с меньшим значением z-index 
находится за элементом с более высоким значением. */

.block {
	border: 5px solid red;
	max-width: 800px;
	height: 800px;
	margin: 0px auto;
}

.block div{
	text-align: center;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
}

.block__1 {
	background-color: #ece89d;
}

.block__2 {
	background-color: #5e5373;
	color: #fff;
}

.block__3 {
	background-color: #18b5a4;
}